@model Product

<form asp-action="AddProduct" method="post" class="m-2">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Name" data-val="true" class="form-label">Product Name:</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Price" class="form-label">Product Price:</label>
        <input asp-for="Price" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="DateAdded" class="form-label">Product Date:</label>
        <input asp-for="DateAdded" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description" class="form-label">Product Description:</label>
        <input asp-for="Description" class="form-control" />
    </div>
    <input type="submit" class="btn btn-primary mt-3" name="submit">
</form>