@model IEnumerable<ProductViewModel>
@{
    ViewData["Title"] = "Products List";
}

<h1>List of currently added products</h1>

<div class="Products">
    @foreach (var p in Model)
    {
        <div class="SingleProduct">
            <p>Name: @p.Name</p>
            <p>Price: @p.Price</p>
            <p>Description: @p.Description</p>
            <br />
        </div>
    }
