@model IEnumerable<ProductViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<!-- banner -->
<section class="banner_main">
    <div id="banner1" class="carousel slide" data-ride="carousel">
        @*TODO: Commenting out for now, may use later*@
        @*<ol class="carousel-indicators">
            <li data-target="#banner1" data-slide-to="0" class="active"></li>
            <li data-target="#banner1" data-slide-to="1"></li>
            <li data-target="#banner1" data-slide-to="2"></li>
            <li data-target="#banner1" data-slide-to="3"></li>
            <li data-target="#banner1" data-slide-to="4"></li>
        </ol>*@
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="carousel-caption">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-bg">
                                    <span>კომპიუტერის და სხვა</span>
                                    <h1>აქსესუარები</h1>
                                    <p>ლორემ იპსუმ როგორსაც უარყოფა სიკვდილისა შაბათობით პიონერთა დამწერზედ შხამ ჰიჩკოკივით. </p>
                                    <a href="#">იყიდე ახლავე </a> <a href="contact.html">კონტაქტი </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text_img">
                                    <figure><img src="~/images/pct.png" alt="#" /></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="carousel-item">
                <div class="container">
                    <div class="carousel-caption">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-bg">
                                    <span>Computer And Laptop</span>
                                    <h1>Accessories</h1>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or </p>
                                    <a href="#">Buy Now </a> <a href="contact.html">Contact </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text_img">
                                    <figure><img src="~/images/pct.png" alt="#" /></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="carousel-caption">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-bg">
                                    <span>Computer And Laptop</span>
                                    <h1>Accessories</h1>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or </p>
                                    <a href="#">Buy Now </a> <a href="contact.html">Contact </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text_img">
                                    <figure><img src="~/images/pct.png" alt="#" /></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="carousel-caption">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-bg">
                                    <span>Computer And Laptop</span>
                                    <h1>Accessories</h1>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or </p>
                                    <a href="#">Buy Now </a> <a href="contact.html">Contact </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text_img">
                                    <figure><img src="~/images/pct.png" alt="#" /></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="carousel-caption">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-bg">
                                    <span>Computer And Laptop</span>
                                    <h1>Accessories</h1>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or </p>
                                    <a href="#">Buy Now </a> <a href="contact.html">Contact </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text_img">
                                    <figure><img src="~/images/pct.png" alt="#" /></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
        <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </a>
        <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </a>
    </div>
</section>
<!-- end banner -->
<!-- three_box -->
<div class="three_box">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="box_text">
                    <i><img src="~/images/thr.png" alt="#" /></i>
                    <h3>კომპიუტერი</h3>
                    <p>ლორემ იპსუმ ელიზბარ ცქმუტავდა ძვირფასთვლიანი, განმარტოების კუბიც, ჩაითრიეს დაგვინახავდნენ კანცლერმა ბანოვანი ჭყუმპალაობდნენ, თავშივე რრჩები გატირებდე.  </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box_text">
                    <i><img src="~/images/thr1.png" alt="#" /></i>
                    <h3>ლეპტოპი</h3>
                    <p>ლორემ იპსუმ ელიზბარ ცქმუტავდა ძვირფასთვლიანი, განმარტოების კუბიც, ჩაითრიეს დაგვინახავდნენ კანცლერმა ბანოვანი ჭყუმპალაობდნენ, თავშივე რრჩები გატირებდე.  </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box_text">
                    <i><img src="~/images/thr2.png" alt="#" /></i>
                    <h3>ტაბლეტი</h3>
                    <p>ლორემ იპსუმ ელიზბარ ცქმუტავდა ძვირფასთვლიანი, განმარტოების კუბიც, ჩაითრიეს დაგვინახავდნენ კანცლერმა ბანოვანი ჭყუმპალაობდნენ, თავშივე რრჩები გატირებდე.  </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- three_box -->
<!-- products -->
<div class="products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>ჩვენი პროდუქტი</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="our_products">
                    <div class="row">
                        @foreach (var product in Model)
                        {
                            <partial name="_ProductCard" model="product" />
                        }
                        <div class="col-md-12">
                            <a class="read_more" asp-action="List" asp-controller="Products">მეტის ნახვა</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end products -->
    
<!--  contact -->
@*TODO: Commented out for now, may implement later*@
@*<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Contact Now</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <form id="request" class="main_form">
                    <div class="row">
                        <div class="col-md-12 ">
                            <input class="contactus" placeholder="Name" type="type" name="Name">
                        </div>
                        <div class="col-md-12">
                            <input class="contactus" placeholder="Email" type="type" name="Email">
                        </div>
                        <div class="col-md-12">
                            <input class="contactus" placeholder="Phone Number" type="type" name="Phone Number">
                        </div>
                        <div class="col-md-12">
                            <textarea class="textarea" placeholder="Message" type="type" Message="Name">Message </textarea>
                        </div>
                        <div class="col-md-12">
                            <button class="send_btn">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>*@
<!-- end contact -->