@model ProductViewModel
<div class="col-md-4 margin_bottom1">
    <div class="product_box">
        <a asp-action="Details" asp-route-id="@Model.Id" asp-controller="Products">
        <figure><img src="@Model.ImageURL" alt="#" /></figure>
        </a>
        <div class="price-text">₾@Model.Price</div>
        <h3>@Model.Name</h3>
    </div>
</div>