@model ProductViewModel
<div class="col-md-4 margin_bottom1">
    <div class="product_box">
        <figure><img src="@Model.ImageURL" alt="#" /></figure>
        <h3>@Model.Name</h3>
    </div>
</div>