@model Product
<div class="add-product" style="padding: 2rem;">
    <form asp-action="Add" method="post" class="m-2">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="Name" data-val="true" class="form-label">Product Name:</label>
            <input asp-for="Name" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="BasePrice" class="form-label">Product Base Price:</label>
            <input asp-for="BasePrice" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="ServicePrice" class="form-label">Product Service Price:</label>
            <input asp-for="ServicePrice" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="IsAvailable" class="form-label">Product Availability</label>
            <input asp-for="IsAvailable" class="form-check-input" type="checkbox" style="margin-left: 1rem;">
        </div>
        <div class="form-group">
            <label asp-for="Description" class="form-label">Product Description:</label>
            <input asp-for="Description" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Brand" class="form-label">Product Brand:</label>
            <input asp-for="Brand" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="ImageURL" class="form-label">Product ImageURL:</label>
            <input asp-for="ImageURL" class="form-control" />
        </div>
        <input type="submit" class="btn btn-primary mt-3" name="submit">
    </form>
</div>