@model IEnumerable<ProductViewModel>
<!-- products -->
<div class="products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>ჩვენი პროდუქტი</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="our_products">
                    <div class="row">
                        @foreach(var product in Model)
                        {
                            <partial name="_ProductCard" model="product" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end products -->